body{
    padding: 0;
    margin: 0;
}
.m{
    width: 100%;
    height: 100vh;
    background-image: url(/j/Rectangle\ 11.png);
}

.herocontent{
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
}
.m3{
    padding-top: 22px;
    display: flex;
    width: 100%;
    justify-content: end;
    margin-bottom: 5%;
    gap: 20px;
}
.m4 {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bolder;
    gap: 5px;
    cursor: pointer;
}

.m5 {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 1px;
    font-weight: bolder;
    gap: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-right: 81px;
}

.m6 {
    padding: 0px;
    color: #ffffff;
    font-size: 81px;
    font-weight: bolder;
    margin-right: 2%;
    margin-left: 5%;
}

.m7 {
    display: flex;
}