body{
    padding: 0;
    margin: 0;
}
.m{
    width: 100%;
    /* height: 100vh; */
    background-image: url(/j/Rectangle\ 11.png);
}

.herocontent{
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
}
.m3{
    padding-top: 22px;
    display: flex;
    width: 100%;
    justify-content: end;
    margin-bottom: 5%;
    gap: 20px;
}
.m4 {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bolder;
    gap: 5px;
    cursor: pointer;
}

.m5 {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 1px;
    font-weight: bolder;
    gap: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-right: 81px;
}

.m6 {
    padding: 0px;
    color: #ffffff;
    font-size: 81px;
    font-weight: bolder;
    margin-right: 2%;
    margin-left: 5%;
}

.m7 {
    display: flex;
}

.m10 {
    color: black;
    text-decoration: none;
    background-color: white;
    padding-left: 76px;
    padding-right: 76px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 28px;
    font-weight: normal;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.ho {
    margin-top: 8%;
    margin-left: 4%;
    margin-bottom: 8%;
}

.ho2 {
    width: 515px;
    height: 711px;
}

.ho1 {
    display: flex;
    gap: 108px;
}

.ho3 {
    margin-right: 81px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.ho4 {
    
    font-size: 64px;
    margin-bottom: 43px;
}

.ho5 {
    color: #484848;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 43px;
}

.ho6 {
    color: #565656;
    font-size: 24px;
    margin-right: 206px;
    margin-bottom: 64px;
}

.ho7 {
    
    font-size: 28px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-weight:bold;
    color: #000;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 90px;
    padding-right: 90px;
}
